DB_HOST=fastapi-tutorial-db
DB_PORT=3309
DB_DATABASE=fastapi-tutorial
DB_USERNAME=root
DB_PASSWORD=1234

JWT_SECRET_KEY=

GOOGLE_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_TOKEN_URL = https://oauth2.googleapis.com/token
GOOGLE_USER_INFO_URL = https://www.googleapis.com/oauth2/v3/userinfo